<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leagueofchampions.kiit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Homescreen"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Details_activity"
            android:screenOrientation="portrait"
            android:theme="@style/ApplicationTheme"></activity>
        <activity android:name=".UI.Scorecard"
            android:screenOrientation="portrait"
            ></activity>
    </application>

</manifest>